{
    "server": "0.0.0.0",
    "server_port": {{ shadowsocks_port }},
    "password": "{{ shadowsocks_password }}",
    "method": "{{ shadowsocks_method }}",
    "timeout": {{ shadowsocks_timeout }},
    "mode": "tcp_only",
    "fast_open": true,
    "no_delay": true
}
